 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1060px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .glav_container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 50px;
      background-color: #dbdbdb;
      margin: 0 auto;
      padding: 0 20px;
  }
  
  .pred_glav{
    max-width: 1200px;
    display: flex;
    gap: 355px;
  }
  
  .glav_container_left a{
    text-decoration: none;
    color: #222;
  }
  
  .glav_container_left ul{
      display: flex;
      gap: 50px
  }
  
  .glav_container_left ul li::marker{
      color: rgb(255, 102, 0);
  }
  
  .glav_container_right{
      display: flex;
      gap: 20px;
  }
  
  .glav_container_right a{
    text-decoration: none;
    color: black;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff5722;
  }
  
  .contact-info {
      display: flex;
      margin: 0 auto;
      padding: 0 20px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      gap: 100px;
      box-shadow: 0px 7px 10px -10px black;
  }
  
  .stol_and_stul{
      display: flex;
      font-size: 23px;
      margin: 20px;
      gap: 100px;
  }
  
  .contact-info a{
      text-decoration: none;
      color: black;
  }
  
  .contact-info strong {
    font-weight: bold;
  }
  
  .src_and_cart{
      display: flex;
      gap: 20px;
      margin-top: 10px;
  }
  
  .header-icons button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .breadcrumb {
    margin-bottom: 30px;
    max-width: 1060px;
    margin: 0 auto;
  }
  
  .breadcrumb a {
    color: #666;
    text-decoration: none;
  }
  
  .breadcrumb span {
    color: #333;
  }

.admin {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.admin h2 {
  text-align: center;
  color: #2f1810;
  font-weight: 700;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.tab {
  background: transparent;
  color: #222;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.tab.active, .tab:hover {
  background: #ff7a2a;
  color: white;
  border: 1px solid #ff7a2a ;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter {
  border: 1px solid #ccc;
  background: white;
  color: #2f1810;
  border-radius: 20px;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.2s;
}

.filter.active, .filter:hover {
  background: #ff7a2a;
  color: white;
  border-color: #ff7a2a;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.review {
  background: white;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #eee;
}

.review h4 {
  margin: 0 0 8px;
  color: #2f1810;
}

.review span {
  color: #ffb84d;
  font-size: 18px;
}

.review p {
  color: #444;
  margin-bottom: 10px;
}

.main_btn {
  background: #ff7a2a;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.reviews-list button{
  display: flex;
  justify-self: end;
}

.main_btn:hover {
  background: #e86a19;
}

.filterSelect {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  color: #2f1810;
  background: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.filterSelect:hover {
  border-color: #ff7a2a;
}


.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.catalog-item {
  background: white;
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px;
  text-align: center;
}

.catalog-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  background: #f7f2ef;
}

.catalog-item h4 {
  color: #2f1810;
  font-size: 16px;
  margin: 10px 0 5px;
}

.catalog-item p {
  color: #ff7a2a;
  font-weight: 700;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-form input, .card-form select, .card-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.image-preview {
  width: 100%;
  height: 250px;
  background: #f7f2ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.admin_footer {
  background: #2f1810;
  color: white;
  padding: 15px 100px;
  margin-top: 50px;
  font-size: 30px;
  letter-spacing: 1px;
}
