/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Шапка */
.header {
  background-color: #222;
  color: #fff;
  padding: 15px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.glav_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #dbdbdb;
    margin: 0 auto;
    padding: 0 20px;
}

.pred_glav{
  max-width: 1200px;
  display: flex;
  gap: 355px;
}

.glav_container_left a{
  text-decoration: none;
  color: #222;
}

.glav_container_left ul{
    display: flex;
    gap: 50px
}

.glav_container_left ul li::marker{
    color: rgb(255, 102, 0);
}

.glav_container_right{
    display: flex;
    gap: 20px;
}

.glav_container_right a{
  text-decoration: none;
  color: black;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff5722;
}

/* Шапка 2 */
.contact-info {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    box-shadow: 0px 7px 10px -10px black;
}

.stol_and_stul{
    display: flex;
    font-size: 23px;
    margin: 20px;
    gap: 100px;
}

.contact-info a{
    text-decoration: none;
    color: black;
}

.contact-info strong {
  font-weight: bold;
}

.src_and_cart{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.header-icons button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.breadcrumb {
  margin-bottom: 30px;
  max-width: 1060px;
  margin: 0 auto;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
}

.breadcrumb span {
  color: #333;
}

.auth-container {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.form-avatar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.auth-form {
  flex: 1;
  padding-right: 20px;
}

.avatar-container {
  width: 300px;
  text-align: center;
}

.avatar-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 300px;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.form-group label {
  width: 150px;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.products-section {
  padding: 20px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 280px;
  gap: 30px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.product-card h3 {
  font-size: 13px;
  color: #333;
  margin: 0 0 15px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.btn-buy {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-color: orange;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-buy:hover {
  background-color: #e64a19;
  color: white;
}

.btn-submit {
  background-color: #ff5722;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #e64a19;
}

.register-link {
  margin-top: 10px;
}

.register-link a {
  color: black;
  text-decoration: underline;
}

/* Подвал */
.footer {
  background-color: #2F1810;
  color: #fff;
  padding: 40px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}

.footer-logo img {
  height: 80px;
  margin-bottom: 10px;
}

.footer-logo .mini_img{
  height: 25px;
  float: left;
  margin-right: 15px;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #ff5722;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.copyright,
.region-info {
  font-size: 12px;
}

.payment-methods img {
  height: 20px;
}

@media (max-width: 1024px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    text-align: center;
  }

  .stol_and_stul {
    gap: 30px;
    font-size: 25px;
    flex-wrap: nowrap;
  }

  .glav_container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .pred_glav {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .glav_container_left ul {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .glav_container_right {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .src_and_cart{
    gap: 50px;
    margin-bottom: 20px;
  }

  .src_and_cart img{
    width: 50px;
  }

  .form-avatar-container {
    flex-direction: column;
    align-items: center;
  }

  .auth-form {
    padding-right: 0;
    width: 100%;
  }

  .avatar-container {
    width: 100%;
    margin-top: 20px;
  }

  .footer-top {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    justify-self: center;
    flex-wrap: nowrap; 
  }

  .footer-logo{
    display: grid;
    justify-items: center;
  }

  .info_pole{
    display: flex;
    gap: 20px;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 30px;
    align-self: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .region-info {
    text-align: center;
  }
}

@media (max-width: 970px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    text-align: center;
  }

  .stol_and_stul {
    gap: 30px;
    font-size: 25px;
    flex-wrap: nowrap;
  }

  .glav_container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .pred_glav {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .glav_container_left ul {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .glav_container_right {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .src_and_cart{
    gap: 50px;
    margin-bottom: 20px;
  }

  .src_and_cart img{
    width: 50px;
  }

  .breadcrumb {
    font-size: 15px;
  }

  .product-grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .product-card img {
    max-height: 150px;
  }

  .btn-buy {
    padding: 8px 12px;
    font-size: 12px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .src_and_cart {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
  }

  h2 {
    font-size: 18px;
  }

  .product-card h3 {
    font-size: 12px;
  }

  .footer-logo p {
    font-size: 12px;
  }

  .footer-column h4 {
    font-size: 16px;
  }

  .footer-column a {
    font-size: 12px;
  }
}
